<div id="username-edit-container" class="text-center w-100">
  <span id="username-text" style="display: inline-block;">{{ user.username }}</span>
  <button type="button" class="btn btn-link p-0 ms-2" aria-label="Edit username" style="display: inline-block; vertical-align: middle;"
    hx-get="{% url 'username_edit_htmx' %}"
    hx-target="#username-edit-container"
    hx-swap="outerHTML">
    <i class="bi bi-pencil"></i>
  </button>
  {% if error %}<span class="text-danger ms-2 small" style="display: inline-block;">{{ error }}</span>{% endif %}
</div> 