asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.3
django-formtools==2.5.1
django-otp==1.6.0
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
dotenv==0.9.9
idna==3.10
phonenumbers==9.0.8
pillow==11.2.1
pyotp==2.9.0
pypng==0.20220715.0
python-dotenv==1.1.1
qrcode==7.4.2
requests==2.32.4
sqlparse==0.5.3
stripe==12.2.0
typing_extensions==4.14.0
urllib3==2.5.0
